{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}

      
{# <div>
    
      <div class=" relative flex dark:bg-[#19202D] min-w-[800px] w-[900px] bg-white rounded-b-md   rounded-r-md mx-auto -top-[30px] ">
              <img class="flex  w-[140px] h-[140px] rounded-bl-md" src="{{ content.field_img }}" alt="logo">
          </div>
              <div class="relative flex flex-col pt-11  ">
                  
                      <h1 class="flex ml-10 font-bold    dark:text-white text-[19202D] text-2xl ">
                          {{ content.field_title }}
                      </h1>
                  
                  
                      <a class="flex ml-10 dark:text-[#6E8098] text-base" href="">{{ content.field_title }}.com</a>
                  <
              </div>
             div class="relative flex items-center pl-[453px]">
                  <button class="flex w-[147px] h-12 text-center dark:hover:bg-slate-400 hover:bg-[#868eeb] text-[#5964E0] text-base font-bold dark:bg-slate-500 items-center justify-center dark:text-white dark:text-opacity-100  rounded-md  " type="submit">Company Site</button>

              </div>
  </div> #}
         
      <div class="h-[140px] relative flex justify-between dark:bg-[#19202D] min-w-[800px] w-[900px] bg-[#ffffff] rounded-b-md   rounded-r-md mx-auto -top-[30px] " >
        <div class="relative flex ">
          <div class=" relative flex  w-[140px]  rounded-bl-md " >{{  content.field_img }}</div>
          <div class="relative flex flex-col pt-11  ">                  
                      <div class="flex ml-10 font-bold overflow-hidden whitespace-nowrap  max-w-[400px]   dark:text-white text-[19202D] text-2xl ">
                          {{ content.field_company_name }}
                      </div>                                   
                      <a class="flex ml-10 overflow-hidden whitespace-nowrap max-w-[400px] dark:text-[#6E8098] text-base" href="">{{content.field_company_name}}.com</a>               
              </div>
          </div>
          <div class="relative flex items-center pr-11">
                  <button class="flex w-[147px] h-12 text-center dark:hover:bg-slate-400 hover:bg-[#868eeb] text-[#5964E0] text-base font-bold dark:bg-slate-500 items-center justify-center dark:text-white dark:text-opacity-100  rounded-md  " type="submit">Company Site</button>
      </div>
      </div>

  
    <div class="relative mx-auto flex  mt-10 min-w-[800px] w-[900px] bg-[#ffffff] rounded-md dark:bg-[#19202D] ">
        <div class="flex flex-col pt-10 pl-12 pr-12">
        <div class="relative flex   justify-between">
            <div class=" relative flex flex-col  ">
                <div class="flex  font-normal  text-[#6E8098] text-base ">
                    <div class="">{{content.field_date}}</div>
                    <p class="flex pl-6 pr-6">.</p>
                    <div>{{content.field_duration}}</div>
                </div>    
                <div class="  text-2xl font-bold overflow-hidden whitespace-nowrap  max-w-[500px] py-3  dark:text-white  text-[#19202D] ">{{content.field_job_name}}</div>                          
                <div class="flex text-[#5964E0] overflow-hidden whitespace-nowrap  max-w-[400px] font-bold text-sm">{{content.field_country}}</div>
            </div>
            <div class="relative flex items-center  ">
                <button class="flex w-[147px] h-12 text-center dark:hover:bg-[#939BF4] hover:bg-[#939BF4] bg-[#5964E0]  text-white text-base font-bold  items-center justify-center  dark:text-opacity-100  rounded-md " type="submit">Apply Now</button>
            </div>
        </div>
        <div class="dark:text-[#9DAEC2] text-[#6E8098] text-left text-base pb-12 ">
        <div class="relative flex pt-11">
            <div class="relative max-w-[820px]">{{content.field_about}}</div>
            </div>
            <div class=" relative flex flex-col pt-11">
              <div class=" flex dark:text-white text-[#19202D] font-bold text-xl pb-7">Requirements</div>
              <div class="relative max-w-[820px]" > {{content.field_requirements}}</div>
            </div>

            <div class=" relative flex flex-col pt-11">
                <div class=" flex dark:text-white text-[#19202D] font-bold text-xl pb-7">What You Will Do</div>
                <div class="relative max-w-[820px]" >{{content.field_what_will_you_do}}</div>
            </div>
        </div>
    </div>

    </div>
    <div class="relative flex mt-20  bg-[#ffffff] dark:bg-[#19202D]">
        <div class="relative flex justify-between    min-w-[800px] w-[900px] mx-auto ">
        <div class="flex flex-col pt-6">
            <div class=" flex dark:text-white text-[#19202D] overflow-hidden whitespace-nowrap  max-w-[500px] pb-3 font-bold text-xl">{{content.field_job_name}}</div>
            <p class="flex pb-6 dark:text-[#6E8098] text-base">So Digital Inc.</p>
        </div>
        <div class="relative flex items-center  ">
            <button class="flex w-[141px] h-12 items-center justify-center dark:hover:bg-[#939BF4] hover:bg-[#939BF4] bg-[#5964E0]  text-white text-base font-bold    dark:text-opacity-100  rounded-md " type="submit">Apply Now</button>
        </div>

    </div>
</div>
</div>
            

